@font-face { /* font for orinico displayed in the navbar */
    font-family: 'Belligerent-Madness';
    src: url('../fonts/Belligerent-Madness.ttf.eot');
    src: url('../fonts/Belligerent-Madness-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Belligerent-Madness.ttf.svg') format('svg'),
         url('../fonts/Belligerent-Madness.ttf.woff') format('woff'),
}